:root{
    --bg-header: rgb(117, 228, 117);
    --bg-footer:rgb(117, 228, 117);
    --bg-nav: rgb(218, 198, 198);

}
input[type="checkbox"] {
    display: none;
}



*{
    margin: 10px;
    padding: 0;
     box-sizing: border-box;
}
div{
    display: grid;
    grid-template-columns: 160px auto;
    grid-template-rows:120px auto 60px ;
    height: 100vh;
    
}

header{
    border: 1px solid black;
    grid-column: 1 / span 2;
    display: flex; ;
    background-color: var(--bg-header);
    justify-content: space-between;
}

footer{
    border: 1px solid black;
    grid-column: 1 / span 2;
    background-color: var(--bg-footer);
    padding : 10px;

 
}

nav{
    border: 1px solid black;
    padding: 20px;
    background-color: var(--bg-nav);
    
    
}

main{
    padding: 20px;;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    
    
}



input:checked ~  div{
    --bg-header: rgb(95, 83, 83);
    --bg-footer:rgb(88, 71, 71);
    --bg-nav: rgb(96, 91, 91);
    color: white;

   
}